@font-face {
    font-family: "Kalameh-Bold";
    src: url(fonts/KalamehFaNum-Bold.ttf);
}

@font-face {
    font-family: "Kalameh";
    src: url(fonts/KalamehFaNum-Medium.ttf);
}

@font-face {
    font-family: "Kalameh-Thin";
    src: url(fonts/KalamehFaNum-Thin.ttf);
}

@media (max-width: 500px) {
    .article {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .food-card {
        width: 70%;
    }
}

@media (min-width: 501px) and (max-width: 999px) {
    .article {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1600px) {
    .article {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
    }
}

body {
    direction: rtl;
    background-color: #443627;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    color: #EFDCAB;
    font-size: 32px;
    margin: 16px 0px;
    font-family: "Kalameh-Bold", sans-serif;
}

.article {
    display: grid;
    /* width: 70%; */
    /* max-width: 600px; */
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 16px;
    font-family: "Kalameh", sans-serif;
}

.food-card {
    /* background-color: #EFDCAB; */
    background: linear-gradient(to bottom, #EFDCAB, #D98324);
    color: #F2F6D0;
    border-radius: 20px 2px 20px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
    margin: 0;
}

.food-card div {
    margin: 4px 0px;
}

.image {
    height: 50%;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px 1px 10px 1px;
    object-fit: cover;
}

.name {
    height: 15%;
    direction: rtl;
    font-size: 18px;
    font-family: "Kalameh-Bold", sans-serif;
}

.description {
    height: 25%;
    direction: rtl;
    font-size: 12px;
    font-family: "Kalameh", sans-serif;
}

.price {
    height: 10%;
    direction: rtl;
    text-align: end;
    font-size: 14px;
    font-family: "Kalameh", sans-serif;
}