@font-face {
  font-family: "Kalameh-Bold";
  src: url(fonts/KalamehFaNum-Bold.ttf);
}

@font-face {
  font-family: "Kalameh";
  src: url(fonts/KalamehFaNum-Medium.ttf);
}

@font-face {
  font-family: "Kalameh-Thin";
  src: url(fonts/KalamehFaNum-Thin.ttf);
}

@media (max-width: 430px) {
  .main-food-article {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 431px) and (max-width: 540px) {
  .main-food-article {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 541px) and (max-width: 1023px) {
  .main-food-article {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1024px) and (max-width: 1280px) {
  .main-food-article {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (min-width: 1281px) {
  .main-food-article {
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
  }
}

:root {
  --main: 0;
  --fried: 0;
  --drink: 0;
  --salad: 0;
}

body {
  direction: rtl;
  background-color: #DDA853;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  color: #FBF5DD;
  margin: 0;
  font-family: "Kalameh-Bold", sans-serif;
  background: #16404D;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}

.navbar button {
  border: 0;
  color: #FBF5DD;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  margin: 0px 2px;
  transition: color 0.5s, background 0.5s, content-visibility 0.5s;
  cursor: pointer;
}

.navbar button:focus {
  background: #DDA853;
  color: #16404D;
}

.navbar button i {
  font-size: 26px;
  margin: 8px 18px 0px 18px;
  vertical-align: middle;

}

.navbar button p {
  font-family: "Kalameh-Bold", sans-serif;
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
  content-visibility: hidden;
}

.navbar button:focus p {
  content-visibility: visible;
}

article {
  width: 336px;
  display: grid;
  top: 150px;
  gap: 16px;
  font-family: "Kalameh", sans-serif;
  position: absolute;
  z-index: -1;
}

.food-card {
  background: #16404D;
  color: #FBF5DD;
  border-radius: 20px 2px 20px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.food-card div {
  margin: 4px 0px;
}

.image {
  height: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 1px 10px 1px;
  object-fit: cover;
}

.name {
  height: 15%;
  direction: rtl;
  display: flex;
  align-items: center;
  font-family: "Kalameh-Bold", sans-serif;
  font-size: 24px;
}

.description {
  height: 15%;
  direction: rtl;
  font-family: "Kalameh", sans-serif;
  font-size: 16px;
}

.price {
  height: 20%;
  direction: rtl;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Kalameh", sans-serif;
  font-size: 22px;
}