@font-face {
    font-family: "Kalameh-Bold";
    src: url(fonts/KalamehFaNum-Bold.ttf);
}

@font-face {
    font-family: "Kalameh";
    src: url(fonts/KalamehFaNum-Medium.ttf);
}

@font-face {
    font-family: "Kalameh-Thin";
    src: url(fonts/KalamehFaNum-Thin.ttf);
}

@media (max-width: 720px) {
    .article {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .name {
        font-size: 34px;
    }

    .description {
        font-size: 20px;
    }

    .price {
        font-size: 28px;
    }
}

@media (min-width: 721px) and (max-width: 1440px) {
    .article {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }

    .name {
        font-size: 36px;
    }

    .description {
        font-size: 22px;
    }

    .price {
        font-size: 30px;
    }
}

@media (min-width: 1441px) {
    .article {
        width: 70%;
        grid-template-columns: repeat(3, 1fr);
    }

    .name {
        font-size: 34px;
    }

    .description {
        font-size: 20px;
    }

    .price {
        font-size: 28px;
    }
}

body {
    direction: rtl;
    background-color: #443627;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    color: #EFDCAB;
    font-size: 32px;
    margin: 16px 0px;
    font-family: "Kalameh-Bold", sans-serif;
}

.article {
    display: grid;
    gap: 16px;
    font-family: "Kalameh", sans-serif;
}

.food-card {
    background: linear-gradient(to bottom, #EFDCAB, #D98324);
    color: #F2F6D0;
    border-radius: 20px 2px 20px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
    margin: 0;
}

.food-card div {
    margin: 4px 0px;
}

.image {
    height: 50%;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px 1px 10px 1px;
    object-fit: cover;
}

.name {
    height: 15%;
    direction: rtl;
    display: flex;
    align-items: center;
    font-family: "Kalameh-Bold", sans-serif;
    /* background-color: black; */
}

.description {
    height: 15%;
    direction: rtl;
    font-family: "Kalameh", sans-serif;
}

.price {
    height: 20%;
    direction: rtl;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Kalameh", sans-serif;
    /* background-color: black; */
}